.btn-add{
	position: absolute;
	right: 15px;
	top: 12px;
}
.productStatus span{
	margin-right: 5px;
}
.oper{
	margin-right: 5px;
}
.form-inline{
	select{
		margin-right: 10px;
	}
	input{
		margin-right: 10px;
	}
}